@use 'src/styles/vars.scss' as vars;

.main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 9.25rem 0;
  gap: 9.25rem;

  @media screen and (width < vars.$breakpoint) {
    width: auto;
    padding: 3.5rem 2rem;
    gap: 3.5rem;
  }
}
