@use "src/styles/colors.scss" as colors;

.footer {
  width: 100%;
  background-color: colors.$green;
  color: colors.$white;

  .footerContent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10rem 0;
    margin: auto;

  .findUs {

  }

  .socials {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .socialInfo {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      align-items: center;
    }
  }
}
}